*{
  background-color: #25272d;
  color: #FFF;
  font-family: 'Bitter', sans-serif;
}

body{
  display: inline-flex;
  margin: 0 auto;
}

header{
  display: inline-flex;
  background-color: #4f5261;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 2%;
  padding-left: 2%;
  border-bottom: solid 0.8em #16161a;
}

header p{
    background-color: #4f5261;
}

.left{
  background-color: #363842;
  position: absolute;
  top: 6.8%;
  bottom: 0;
  left: 0;
  padding-right: 2%;
  padding-left: 2%;
}

.main{
  width: 38.7%;
  position: absolute;
  top: 8.5%;
  bottom: 0;
  left: 23%;
}

.right{
  border-left: solid #16161a 1em;
  background-color: #363842;
  margin-left: 0;
  position: absolute;
  top: 6.8%;
  bottom: 0;
  left: 64%;
  right: 0;
  padding-right: 2%;
  padding-left: 2%;
}

body div h1 + input, body div textarea{
  color: #e4e7f3;
  background-color: #36383f;
}

input{
  width: 100%;
  height: 1.5em;
  border: 0.05em solid #d2d2d2;
  margin-bottom: 1em;
}

body div textarea{
  position: absolute;
  left: 0;
  top: 16%;
  bottom: 0;
}

::placeholder{
  color: #e4e7f3;
}

body div p{
  background-color: #363842;
}

body div button{
  width: 100%;
  padding: 1.5em;
  background-color: #3b5044;
  border:solid #4caf50 0.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
}

body div button:hover, body div button:active {
  background-color: #4caf50;
}

.pullypush{
  background-color: #52305f;
  border:solid #bb57e0 0.2em;
}

.pullypush:hover, .pullypush:active{
  background-color: #bb57e0;
}
